<div id="subscribe-banner" class="rf-container rf-mt-4w">
    <div class="rf-grid-row">
        <div class="rf-col">
            <div class="rf-callout">
                <p class="rf-callout__text">
                    Pour postuler ou poser une question, contactez-nous à
                    <span class="rf-text--lg rf-mx-1v">
                        <b>
                            <%= contactEmail %>
                        </b>
                    </span>
                </p>
                <a title="Postuler" href="<%= applyLink %>" target="_blank" rel="noopener noreferrer" class="rf-btn">
                    Postuler
                </a>
            </div>
        </div>
    </div>

</div>