<div id="subscribe-banner" class="rf-container rf-mt-4w">
  <div class="rf-grid-row">
    <div class="rf-col">
      <p>
        Vous devrez avoir l'accord de votre hiérarchie pour valider votre
        candidature.
      </p>
      <div class="rf-callout">
        <p class="rf-callout__text">
          Si la mission vous convient, vous pouvez postuler!
        </p>
        <button id="apply-button" title="Postuler" class="rf-btn">
          Postuler
        </button>
        <div id="screening" class="d-none"><%- include('screening') -%></div>
      </div>
      <p>Pour poser une question, contactez-nous à <%= contactEmail %></p>
    </div>
  </div>
</div>

<script>
  // prettier-ignore
  // (we add ; in this code for IE)
  document.addEventListener("DOMContentLoaded", function (event) {
    document.getElementById("apply-button").addEventListener(
      "click",
      function () {
        document.getElementById("screening").classList.remove("d-none");
      },
      false
    );
  });
</script>
