<div class="rf-container-fluid rf-centered rf-pb-3w rf-pt-2w">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
     <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w text-green-soft"><span class="rf-fi-checkbox-line rf-fi--lg"></span></div>
      <div class="rf-text--sm">A partir de 2 jours par semaine</div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w text-orange-soft"><span class="rf-fi-calendar-line rf-fi--lg"></span></div>
      <div class="rf-text--sm">1 mois renouvelable</div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
      <div class="rf-text--lg rf-pb-2w text-blue-soft"><span class="rf-fi-user-line rf-fi--lg"></span></div>
      <div class="rf-text--sm">Formation incluse</div>
    </div>

  </div>
</div>
