<!-- todo(estellecomment) : import min css and js -->
<script type="module" src="/~/@gouvfr/dsfr/dist/js/dsfr.module.js"></script>

<script type="text/javascript" nomodule src="/~/@gouvfr/dsfr/dist/js/dsfr.nomodule.js"></script>


<footer class="rf-footer" id="footer">
  <div class="rf-container">
    <div class="rf-footer__body">
      <div class="rf-footer__brand rf-enlarge-link">
        <a href="/" title="Retour à l’accueil">
          <p class="rf-logo">
            Ministère<br>
            de la transformation<br>
            et de la fonction<br>
            publiques
          </p>
        </a>
      </div>
      <div class="rf-footer__content">
        <p class="rf-footer__content-desc">
          <%= appDescription %>
        </p>
        <p class="rf-footer__content-desc">
          Le code source est ouvert et les contributions sont bienvenues.
          <a title="Voir le code source" href="<%= appRepo %>" target="_blank" rel="noopener">Voir le code source</a>
        </p>
        <ul class="rf-footer__content-list">
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" title="Contactez-nous"
              href="<%= makeMailto(contactEmail, 'Bonjour !') %>" target="_blank" rel="noopener noreferrer">
              Contactez-nous
            </a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link"
              href="https://www.fonction-publique.gouv.fr/">fonction-publique.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rf-footer__bottom">
      <ul class="rf-footer__bottom-list">
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales#accessibilite">Accessibilité: non conforme</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="rf-footer__bottom-item">
          <button class="rf-footer__bottom-link rf-fi-sun-fill-line rf-link--icon-left" aria-controls="rf-theme-modal"
            data-rf-opened="false">Paramètres d'affichage</button>
        </li>
      </ul>
      <div class="rf-footer__bottom-copy">
        <p>
          © République Française 2020
        </p>
      </div>
    </div>
    <dialog id="rf-theme-modal" class="rf-modal" role="dialog" aria-labelledby="rf-theme-modal-title">
      <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
          <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
            <div class="rf-modal__body">
              <div class="rf-modal__header">
                <button class="rf-link--close rf-link" aria-controls="rf-theme-modal">Fermer</button>
              </div>
              <div class="rf-modal__content">
                <h1 id="rf-theme-modal-title" class="rf-modal__title">
                  Paramètres d’affichage
                </h1>
                <div id="rf-switch-theme" class="rf-form-group rf-switch-theme">
                  <fieldset class="rf-fieldset">
                    <legend class="rf-fieldset__legend">Choisissez un thème pour personnaliser l’apparence du site.
                    </legend>
                    <div class="rf-fieldset__content">
                      <div class="rf-radio-group rf-radio-rich">
                        <input type="radio" id="rf-radios-theme-light" name="rf-radios-theme" value="light">
                        <label class="rf-label" for="rf-radios-theme-light">Thème clair
                        </label>
                      </div>
                      <div class="rf-radio-group rf-radio-rich">
                        <input type="radio" id="rf-radios-theme-dark" name="rf-radios-theme" value="dark">
                        <label class="rf-label" for="rf-radios-theme-dark">Thème sombre
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dialog>
</footer>

</body>

</html>