<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle">
    <div id="hero-col-1" class="rf-col-6 rf-p-4w">
      <h2>
        Prêtez main forte pendant la crise sanitaire
      </h2>
      <div class="rf-pb-5w">
        Participez au dispositif de mise à disposition temporaire d'agents publics durant la crise sanitaire en postulant.
      </div>
      <div>
        <a class="rf-btn" title="Voir les missions" href="#offres-de-mission">
          Voir les missions
        </a>
      </div>
    </div>
    <div id="hero-col-2" class="rf-col-4">
      <img src="/static/images/candidate.png" alt="Candidatez aux missions">
    </div>
  </div>
</div>