<div id="offres-de-mission" class="rf-container rf-mt-4w">

  <div class="rf-px-2w rf-px-md-6w">
    <h3>Quelques exemples d’offres de mission</h3>

    <div class="rf-grid-row rf-grid-row--gutters">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
            <div class="rf-card rf-card--no-arrow shadow-lg rounded-lg zoomable  rf-enlarge-link">


              <div class="rf-card__body missions">
                <p class="rf-card__detail">Au moins deux jours par semaine</p>
                <p class="rf-card__detail">Dans la caisse primaire d'assurance maladie de votre département</p>
                <h4 class="rf-card__lead">
                  <a href="/mission-cpam" class="rf-card__link">Conseiller contact tracing</a>
                </h4>
                <p class="rf-card__desc">Dans le cadre de la stratégie Tester, Alerter, Protéger, l’Assurance maladie
                  est en charge, depuis le 11 mai dernier, du dispositif de traçage de contact qui doit...</p>
                <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                  savoir plus

                  <svg style="display: inline-block; width: 25px; margin-left: 10px" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M14 5l7 7m0 0l-7 7m7-7H3" />
                  </svg>

                </div>
              </div>
              <div class="rf-card__img missions ">
                <img src="/static/images/organisations/logo-cpam-card.png" title="Logo Assurance Maladie">
              </div>
            </div>
          </div>
          <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
            <div class="rf-card rf-card--no-arrow shadow-lg rounded-lg zoomable rf-enlarge-link">
              <div class="rf-card__body missions">
                <p class="rf-card__detail">Au moins deux jours par semaine</p>
                <p class="rf-card__detail">Télétravail</p>
                <h4 class="rf-card__lead">
                  <a href="/mission-cnav" class="rf-card__link">Conseiller maintien du lien social</a>
                </h4>
                <p class="rf-card__desc">Face à l’épidémie de COVID-19, les pouvoirs publics redoublent d’attention
                  vers les personnes âgées, d’autant plus fragiles, puisque leurs accompagnements et liens ...</p>
                <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                  savoir plus

                  <svg style="display: inline-block; width: 25px; margin-left: 10px" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M14 5l7 7m0 0l-7 7m7-7H3" />
                  </svg>

                </div>

              </div>
              <div class="rf-card__img missions ">
                <img src="/static/images/organisations/logo-cnav-card.png" title="Logo CNAV">
              </div>

            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

</div>

<div class="rf-container rf-mt-4w">
  <div class="rf-px-2w rf-px-md-6w">
    <a title="Voir les autres missions" href="/autres-missions" class="rf-btn rf-btn--secondary rf-text--lg">
      Voir les autres missions
    </a>
  </div>
</div>


<div class="rf-container-fluid rf-pb-3w rf-pt-2w ">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
    <div class="rf-col rf-col-9 rf-mt-4w">
      <div class="faq-question">
        <h3>Comment ça marche ?</h3>
        <div class="rf-container-fluid rf-centered rf-pb-3w rf-pt-2w">
          <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
            <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
              <div class="rf-text--lg rf-pb-2w text-green-soft" style='display:flex;justify-content: center'><span
                  class=" rf-fi--lg"><img src='/static/images/1.png'></span>
              </div>
              <div class="rf-text--sm">1. Je me renseigne sur les missions</div>
            </div>
            <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
              <div class="rf-text--lg rf-pb-2w text-orange-soft" style='display:flex;justify-content: center'><span
                  class="rf-fi--lg">
                  <img src='/static/images/2.png'>
                </span>
              </div>
              <div class="rf-text--sm">2. J'obtiens l'accord de ma hiérarchie</div>
            </div>
            <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
              <div class="rf-text--lg rf-pb-2w text-blue-soft" style='display:flex;justify-content: center'><span
                  class="rf-fi--lg">
                  <img src='/static/images/3.png'>
                </span></div>
              <div class="rf-text--sm">3. Je postule à la mission</div>
            </div>
            <div class="rf-col-xs-12 rf-col-md-3 rf-p-3w">
              <div class="rf-text--lg rf-pb-2w text-blue-soft" style='display:flex;justify-content: center'><span
                  class=" rf-fi--lg">
                  <img src='/static/images/4.png'>
                </span></div>
              <div class="rf-text--sm">4. J'obtiens une convention de mise à disposition ou un ordre de mission signé
              </div>
            </div>

          </div>
        </div>


        <img src="/documents/plaquette_pour_candidats.png" alt="Schéma du processus de candidature">
        <h4 class="faq-subtitle">Etape 1 : je me renseigne sur les missions</h4>
        <p>
          Je prends connaissance des fiches de postes correspondantes aux deux missions proposées sur la
          plateforme (<a href="/#offres-de-mission">cliquez ici pour voir les missions</a>).
        </p>
        <p>
          Je dois pouvoir me rendre disponible au minimum <b>deux jours par semaine
            sur mon temps de travail habituel</b>, de préférence sur des jours fixes (par exemple les mardis et
          jeudis),
          pendant au
          minimum un mois.
          La mission est renouvelable après un mois.
        </p>
        <h4 class="faq-subtitle">Etape 2 : j'obtiens l'accord de ma hiérarchie</h4>
        <p>
          Je préviens <b>mon supérieur hiérarchique qui doit me donner son accord</b>, sans quoi la mission ne
          peut être réalisée. (Vous pouvez aller voir dans la Foire Aux Questions :
          <a href="faq#accord-de-ma-hiérarchie">Comment obtenir l'accord de mon supérieur hiérarchique ?</a>)
        </p>
        <h4 class="faq-subtitle">Etape 3 : je postule</h4>
        <p>
          Une fois l’accord hiérarchique acquis, je peux faire ma demande de candidature.
          Je vais sur la page de la mission et je clique "Postuler".
          (<a href="/#offres-de-mission">cliquez ici pour voir les missions</a>)
        </p>
        <p>
          Ma candidature est transmise pour validation à l'organisme qui va me recevoir.
          Je suis éventuellement recontacté.e pour régler les détails.
        </p>
        <h4 class="faq-subtitle">Etape 4 : je signe la convention de mise à disposition ou l'ordre de mission</h4>
        <p>
          Une fois ma candidature validée, deux cas peuvent se présenter :
          Si je suis mis à disposition par convention, les services RH de l'organisme receveur prennent contact avec
          ceux de mon organisme d'origine (ils contacteront la personne référente pour le suivi RH de mon dossier, que
          j'ai indiquée dans le formulaire de candidature : (Voir le modèle de convention proposée dans la Foire Aux
          Questions: <a href="faq#cadre-juridique">section cadre juridique</a>)
          Si je suis mis à disposition par ordre de mission, il est remis à mon service RH une fois signé par mes soins
          puis par mon responsable hiérarchique habilité.

        </p>
        <p>
          Quand la convention est finalisée et quand l’ordre de mission est signé, j’en obtiens une copie.
        </p>
        <h4 class="faq-subtitle">
          La mission peut maintenant démarrer !
        </h4>
        <a title="missions" href="#offres-de-mission" class="rf-btn rf-text--lg">
          Voir les missions
        </a>

      </div>
    </div>
  </div>
</div>
