<div class="rf-callout mission-summary">
  <div class="rf-callout__text">
    <div class="rf-grid-row rf-grid-row--gutter">
      <% for(let i = 0; i < blocks.length; i++) { %>
      <div class="rf-col mission-summary__block">
        <div class="mission-summary__block__title"><%= blocks[i].title %></div>
        <div class="mission-summary__block__content"><%= blocks[i].text %></div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<p>
  Vous devrez avoir l'accord de votre hiérarchie pour valider votre candidature.
</p>
