<div id="offres-de-mission" class="rf-container rf-mt-4w">

  <div class="rf-px-6w">
    <h3>Les offres de mission disponibles</h3>

    <div class="rf-grid-row rf-grid-row--gutters">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-4">
            <div class="rf-card">
              <div class="rf-card__img">
                <img src="/static/images/organisations/logo-cpam-card.png" title="text alternatif de l’image"
                  width="200" height="300">
              </div>
              <div class="rf-card__body">
                <p class="rf-card__detail">8h à 18h30, tous les jours par roulement</p>
                <h4 class="rf-card__lead">
                  <a href="/mission-cpam" class="rf-card__link">Conseiller Contact Tracing</a>
                </h4>
                <p class="rf-card__desc">Dans le cadre de la stratégie Tester, Alerter, Protéger, l’Assurance maladie
                  est en
                  charge, depuis le 11 mai dernier, du dispositif de Contact tracing qui doit...</p>
              </div>
            </div>
          </div>
          <div class="rf-col-8">
            <div class="rf-mt-12w rf-text--lg">Bientôt d'autres missions à retrouver 🤞</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>