<div id="offres-de-mission" class="rf-container rf-mt-4w">

  <div class="rf-px-2w rf-px-md-6w">
    <h3>Les offres de mission disponibles</h3>

    <div class="rf-grid-row rf-grid-row--gutters">
      <div class="rf-container">
        <div class="rf-grid-row">
          <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
            <div class="rf-card rf-card--no-arrow shadow-lg rounded-lg zoomable">
              <div class="rf-card__img missions ">
                <img src="/static/images/organisations/logo-cpam-card.png" title="Logo Assurance Maladie">
              </div>
              <div class="rf-card__body missions">
                <p class="rf-card__detail">8h à 18h30, tous les jours par roulement</p>
                <p class="rf-card__detail">Paris 12ème</p>
                <h4 class="rf-card__lead">
                  <a href="/mission-cpam" class="rf-card__link">Conseiller traçage de contact</a>
                </h4>
                <p class="rf-card__desc">Dans le cadre de la stratégie Tester, Alerter, Protéger, l’Assurance maladie
                  est en
                  charge, depuis le 11 mai dernier, du dispositif de Contact tracing qui doit...</p>
                <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                  savoir plus

                  <svg style="display: inline-block; width: 25px; margin-left: 10px" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M14 5l7 7m0 0l-7 7m7-7H3" />
                  </svg>

                </div>
              </div>
            </div>
          </div>
          <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
            <div class="bg-fond-alternatif rounded-lg"
              style="height: 100%; min-height: 200px; display: flex; justify-content: center; align-items: center; text-align: center">
              <span class="rf-text--lg">Bientôt d'autres
                missions à
                retrouver
                🤞</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
