<div class="rf-callout mission-summary">
  <div class="rf-callout__text">
    <div class="rf-grid-row rf-grid-row--gutter">
      <div class="rf-col mission-summary__block">
        <div class="mission-summary__block__title">Type de contrat</div>
        <div class="mission-summary__block__content">Mise à disposition</div>
      </div>
      <div class="rf-col mission-summary__block">
        <div class="mission-summary__block__title">Durée</div>
        <div class="mission-summary__block__content">1 mois renouvelable</div>
      </div>
      <div class="rf-col mission-summary__block">
        <div class="mission-summary__block__title">Horaires</div>
        <div class="mission-summary__block__content">
          8h30 - 18h30, min. 2j/semaine
        </div>
      </div>
      <div class="rf-col mission-summary__block">
        <div class="mission-summary__block__title">Localisation</div>
        <div class="mission-summary__block__content">
          En présentiel, CPAM de votre département
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  Vous devez avoir l'accord de votre hiérarchie pour valider votre candidature.
</p>
