<div class="rf-container-fluid rf-centered rf-pb-3w rf-pt-2w rf-mt-4w">
    <!-- <div class="rf-grid-row rf-grid-row--center">
      <div class="rf-col-6"><h3 class="rf-h2"></h3></div>
    </div> -->

    <div class="bg-blue-france text-white rf-pt-4w rf-p-4w">
        <div style="display: flex; justify-content: center; align-items: center" >
            <h2 class="text-white" style="display: inline">Votre organisation a besoin de renfort ?</h2>
            <button class="rf-btn rf-text--lg bg-blue-soft text-blue-france rf-ml-2w">Publier une mission</button>
        </div>
    </div>
  </div>

