<div class="rf-container-fluid rf-centered rf-pt-2w rf-mt-4w">
    <!-- <div class="rf-grid-row rf-grid-row--center">
      <div class="rf-col-6"><h3 class="rf-h2"></h3></div>
    </div> -->

    <div class="bg-blue-france text-white rf-pt-4w rf-p-4w">
        <div style="display: flex; justify-content: center; align-items: center" >
            <h2 class="text-white rf-mr-2w" style="display: inline">Votre organisation a besoin de renfort&nbsp;?</h2>
            <a title="Publier une mission" href="<%= makeMailto('Publier une mission') %>">
              <button class="rf-btn rf-text--lg bg-blue-soft text-blue-france ">Publier une mission</button>
            </a>
        </div>
    </div>
  </div>
