<div class="rf-container-fluid rf-centered rf-pt-2w rf-mt-4w">
  <div class="bg-blue-france text-white rf-pt-4w rf-p-4w">
    <div class="rf-container">
      <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--center rf-grid-row--middle ">
        <div class="rf-col">
          <h2 class="text-white rf-mr-2w" style="display: inline">Administrations, vous souhaitez publier une mission &nbsp;?</h2>
          <a title="Publier une mission" href="<%= makeMailto('Publier une mission') %>" target="_blank"
            rel="noopener noreferrer" class="rf-btn rf-text--lg bg-blue-soft text-blue-france ">Publier une mission
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
