<div class="rf-container">
  <div class="rf-grid-row">
    <div class="rf-col">
      <form>
        <fieldset class="screening-section">
          Etes-vous fonctionnaire ou en CDI dans la fonction publique ?
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="fonctionnaireRadio"
              id="oui"
            />
            <label class="form-check-label" for="oui"> Oui </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="fonctionnaireRadio"
              id="non"
            />
            <label class="form-check-label" for="non"> Non </label>
          </div>
        </fieldset>
        <div class="screening-section d-none" id="screening-final-ok">
          <div>C'est bon postulez!</div>
          <a
            title="Commencer ma candidature"
            href="<%= applyLink %>"
            target="_blank"
            rel="noopener noreferrer"
            class="rf-btn"
          >
            Commencer ma candidature
          </a>
        </div>
        <div class="screening-section d-none" id="screening-final-not-ok">
          <div>C'est pas bon. Postulez plutot à jeveuxaider.gouv.fr</div>
          <a
            title="Commencer ma candidature"
            href="https://www.jeveuxaider.gouv.fr/"
            target="_blank"
            rel="noopener noreferrer"
            class="rf-btn"
          >
            Aller voir jeveuxaider.gouv.fr
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#oui").click(function () {
      $("#screening-final-ok").removeClass("d-none")
      $("#screening-final-not-ok").addClass("d-none")
    })

    $("#non").click(function () {
      $("#screening-final-not-ok").removeClass("d-none")
      $("#screening-final-ok").addClass("d-none")
    })
  })
</script>
