<div class="rf-container">
  <div class="rf-grid-row">
    <div class="rf-col">
      <form>
        <fieldset class="screening-section">
          <p>Travaillez vous dans la fonction publique ?</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="publicSectorRadio"
              id="public-sector-yes"
            />
            <label class="form-check-label" for="public-sector-yes">
              Oui
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="publicSectorRadio"
              id="public-sector-no"
            />
            <label class="form-check-label" for="public-sector-no"> Non </label>
          </div>
        </fieldset>

        <div class="screening-section d-none" id="leaf-not-public-sector">
          <p>
            Malheureusement, notre dispositif s'adresse uniquement aux personnes
            de la fonction publique, donc vous ne pouvez pas vous porter
            volontaire sur notre site...
          </p>
          <p>
            Mais nous vous proposons d'aller voir jeveuxaider.gouv.fr qui
            recrute aussi des volontaires pour la crise sanitaire.
          </p>
          <a
            title="Aller voir jeveuxaider.gouv.fr"
            href="https://www.jeveuxaider.gouv.fr/"
            target="_blank"
            rel="noopener noreferrer"
            class="rf-btn"
          >
            Aller voir jeveuxaider.gouv.fr
          </a>
        </div>

        <div id="subtree-temp-worker" class="d-none">
          <fieldset class="screening-section">
            <p>
              Etes-vous fonctionnaire stagiaire, ou en CDD, ou prestataire ?
            </p>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="temp-worker-radio"
                id="temp-worker-yes"
              />
              <label class="form-check-label" for="temp-worker-yes">
                Oui
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="temp-worker-radio"
                id="temp-worker-no"
              />
              <label class="form-check-label" for="temp-worker-no"> Non </label>
            </div>
          </fieldset>

          <div class="screening-section d-none" id="leaf-temp-worker">
            <p>
              Malheureusement, notre dispositif s'adresse uniquement aux
              fonctionnaires et aux personnes en CDI ...
            </p>
            <p>
              Mais nous vous proposons d'aller voir jeveuxaider.gouv.fr qui
              recrute aussi des volontaires pour la crise sanitaire.
            </p>
            <a
              title="Aller voir jeveuxaider.gouv.fr"
              href="https://www.jeveuxaider.gouv.fr/"
              target="_blank"
              rel="noopener noreferrer"
              class="rf-btn"
            >
              Aller voir jeveuxaider.gouv.fr
            </a>
          </div>

          <div class="screening-section d-none" id="leaf-ok">
            <p>Ça tombe bien! Nous recherchons des personnes comme vous !</p>
            <a
              title="Commencer ma candidature"
              href="<%= applyLink %>"
              target="_blank"
              rel="noopener noreferrer"
              class="rf-btn"
            >
              Commencer ma candidature
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // prettier-ignore
  // (we add ; in this code for IE)
  document.addEventListener("DOMContentLoaded", function (event) {
    var show = function (elementId) {
      document
        .getElementById(elementId)
        .classList.remove("d-none");
    };

    var hide = function (elementId) {
      document
        .getElementById(elementId)
        .classList.add("d-none");
    };

    document.getElementById("public-sector-no").addEventListener(
      "click",
      function () {
        show("leaf-not-public-sector");
        hide("subtree-temp-worker");
      },
      false,
    );

    document.getElementById("public-sector-yes").addEventListener(
      "click",
      function () {
        show("subtree-temp-worker");
        hide("leaf-not-public-sector");
      },
      false,
    );

    document.getElementById("temp-worker-yes").addEventListener(
      "click",
      function () {
        show("leaf-temp-worker");
        hide("leaf-ok");
      },
      false,
    );

    document.getElementById("temp-worker-no").addEventListener(
      "click",
      function () {
        hide("leaf-temp-worker");
        show("leaf-ok");
      },
      false,
    );
});
</script>
