<div class="rf-callout">
  <div class="rf-grid-row">
    <div class="rf-col">
      <form>
        <div class="screening-section">
          <p>Commençons par quelques questions.</p>
          <p>Travaillez vous dans la fonction publique ?</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="publicSectorRadio" id="public-sector-yes" />
            <label class="form-check-label" for="public-sector-yes">
              Oui
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="publicSectorRadio" id="public-sector-no" />
            <label class="form-check-label" for="public-sector-no"> Non </label>
          </div>
        </div>

        <div class="screening-section d-none" id="leaf-not-public-sector">
          <p>
            Malheureusement, notre dispositif s'adresse uniquement aux personnes
            travaillant déjà dans la fonction publique.
          </p>
          <p>
            Nous vous proposons de regarder jeveuxaider.gouv.fr qui recrute des
            bénévoles pour la crise sanitaire.
          </p>
          <a title="Aller voir jeveuxaider.gouv.fr" href="https://www.jeveuxaider.gouv.fr/" target="_blank"
            rel="noopener noreferrer" class="rf-btn">
            Aller voir jeveuxaider.gouv.fr
          </a>
        </div>

        <div id="subtree-fonctionnaire" class="d-none">
          <div class="screening-section">
            <p>Etes-vous en activité en tant que fonctionnaire titulaire ou stagiaire, ou en CDI ?</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="fonctionnaire-radio" id="fonctionnaire-yes" />
              <label class="form-check-label" for="fonctionnaire-yes">
                Oui
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="fonctionnaire-radio" id="fonctionnaire-no" />
              <label class="form-check-label" for="fonctionnaire-no">
                Non
              </label>
            </div>
          </div>

          <div class="screening-section d-none" id="leaf-not-fonctionnaire">
            <p>
              Malheureusement, notre dispositif s'adresse uniquement aux
              fonctionnaires titulaires, aux fonctionnaires stagiaires et aux personnes en CDI (pour garantir
              la protection des agents par le droit administratif). Nous ne
              pouvons pas le proposer aux
              retraités, aux fonctionnaires non-affectés, aux personnes en CDD
              ou aux prestataires du public.
            </p>
            <p>
              Nous vous proposons de regarder jeveuxaider.gouv.fr qui recrute
              des bénévoles pour la crise sanitaire.
            </p>
            <a title="Aller voir jeveuxaider.gouv.fr" href="https://www.jeveuxaider.gouv.fr/" target="_blank"
              rel="noopener noreferrer" class="rf-btn">
              Aller voir jeveuxaider.gouv.fr
            </a>
          </div>

          <div id="subtree-retired" class="d-none">
            <div class="screening-section">
              <p>
                Etes-vous à la retraite ou en congés en attendant la retraite ?
              </p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="retired-radio" id="retired-yes" />
                <label class="form-check-label" for="retired-yes"> Oui </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="retired-radio" id="retired-no" />
                <label class="form-check-label" for="retired-no"> Non </label>
              </div>
            </div>

            <div class="screening-section d-none" id="leaf-retired">
              <p>
                Malheureusement, notre dispositif fonctionne par mise à
                disposition d'agents (pour garantir la protection des agents par
                le droit administratif) et s'adresse uniquement aux personnes
                actuellement en poste. Nous ne pouvons l'utiliser pour les
                personnes à la retraite.
              </p>
              <p>
                Nous vous proposons de regarder jeveuxaider.gouv.fr qui recrute
                des bénévoles pour la crise sanitaire.
              </p>
              <a title="Aller voir jeveuxaider.gouv.fr" href="https://www.jeveuxaider.gouv.fr/" target="_blank"
                rel="noopener noreferrer" class="rf-btn">
                Aller voir jeveuxaider.gouv.fr
              </a>
            </div>

            <div class="screening-section d-none" id="leaf-ok">
              <p>Ça tombe bien! Nous recherchons des personnes comme vous !</p>
              <a title="Commencer ma candidature" href="<%= applyLink %>" target="_blank" rel="noopener noreferrer"
                class="rf-btn">
                Commencer ma candidature
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // prettier-ignore
  // (we add ; in this code for IE)
  document.addEventListener("DOMContentLoaded", function (event) {
    var show = function (elementId) {
      document
        .getElementById(elementId)
        .classList.remove("d-none");
    };

    var hide = function (elementId) {
      document
        .getElementById(elementId)
        .classList.add("d-none");
    };

    document.getElementById("public-sector-no").addEventListener(
      "click",
      function () {
        show("leaf-not-public-sector");
        hide("subtree-fonctionnaire");
      },
      false
    );

    document.getElementById("public-sector-yes").addEventListener(
      "click",
      function () {
        show("subtree-fonctionnaire");
        hide("leaf-not-public-sector");
      },
      false
    );

    document.getElementById("fonctionnaire-no").addEventListener(
      "click",
      function () {
        show("leaf-not-fonctionnaire");
        hide("subtree-retired");
      },
      false
    );

    document.getElementById("fonctionnaire-yes").addEventListener(
      "click",
      function () {
        hide("leaf-not-fonctionnaire");
        show("subtree-retired");
      },
      false
    );

    document.getElementById("retired-yes").addEventListener(
      "click",
      function () {
        show("leaf-retired");
        hide("leaf-ok");
      },
      false
    );

    document.getElementById("retired-no").addEventListener(
      "click",
      function () {
        hide("leaf-retired");
        show("leaf-ok");
      },
      false
    );
  });
</script>