<!-- Not used yet -->
<div id="subscribe-banner" class="rf-container rf-mt-4w">
    <div class="bg-fond-alternatif rf-p-4w">
        <h3>Abonnez-vous pour recevoir les nouvelles missions dans votre boîte mail</h3>
        <div class="rf-input-group" style="display: flex">
            <input class="rf-input" type="text" id="email" name="email" placeholder="Adresse courriel">
            <button class="rf-btn" title="S'abonner">
                <span>
                    S'abonner
                </span>
            </button>
        </div>
    </div>
</div>

