<div id="subscribe-banner" class="rf-container rf-mt-4w">
    <div class="rf-grid-row">
        <div class="rf-col">
            <div class="rf-callout">
                <p class="rf-callout__text">
                <div class="rf-container">
                    <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--center rf-grid-row--middle ">
                        <div class="rf-col" style="text-align: center">
                            <span class="rf-mb-4w rf-mb-md-0">
                                Vous avez une question sur le dispositif ? Contactez-nous sur
                                <span class="rf-text--lg rf-mx-1v">
                                    <b><%= contactEmail %></b>
                                </span>
                            </span>
                            <a title="Contactez-nous" href="<%= makeMailto('Bonjour !') %>" target="_blank"
                                rel="noopener noreferrer" class="rf-btn rf-text--lg">
                                Contactez-nous.
                            </a>
                        </div>
                    </div>

                </div>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="subscribe-banner" class="rf-container rf-mt-4w">
    <div class="rf-grid-row">
        <div class="rf-col">

            <div class="rf-callout">
                <p class="rf-callout__text">
                <div class="rf-container">
                    <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--center rf-grid-row--middle ">
                        <div class="rf-col" style="text-align: center">
                            <span class="rf-mb-4w rf-mb-md-0">
                                Vous avez une question sur le dispositif ? Accédez à la Foire Aux Questions </span>
                            <a title="FAQ" href="/faq" class="rf-btn rf-text--lg">
                                F.A.Q.
                            </a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>