<div id="subscribe-banner" class="rf-container rf-mt-4w">
  <div class="rf-grid-row">
    <div class="rf-col">
      <div class="rf-callout">
        <div class="rf-callout__text">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div class="rf-my-2w">
              <div>
                Contactez-nous sur
                <span class="rf-text--lg rf-mx-1v">
                  <b><%= contactEmail %></b>
                </span>
              </div>
            </div>
            <div class="rf-mb-2w">
              <a
                title="Contactez-nous"
                href="<%= makeMailto('Bonjour !') %>"
                target="_blank"
                rel="noopener noreferrer"
                class="rf-btn"
              >
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
