<div id="subscribe-banner" class="rf-container rf-mt-4w">
    <!-- <div class="bg-fond-alternatif rf-p-4w">
        <h3>Abonnez-vous pour recevoir les nouvelles missions dans votre boîte mail</h3>
        <div class="rf-input-group" style="display: flex">
            <input class="rf-input" type="text" id="email" name="email" placeholder="Adresse courriel">
            <button class="rf-btn" title="S'abonner">
                <span>
                    S'abonner
                </span>
            </button>
        </div>
    </div> -->
    <div class="rf-grid-row">
        <div class="rf-col">
                <div class="rf-callout">
                    <p class="rf-callout__text">
                        <div style="display: flex; justify-content: space-between; align-items: baseline">
                                <div style="display: inline-block">Contactez-nous sur <span class="rf-text--lg rf-mx-1v"><b>contact@renforts.fonction-publique.gouv.fr</b></span> pour en savoir plus.</div>
                                <a href="mailto:contact@renforts.fonction-publique.gouv.fr"><button class="rf-btn">Contact</button></a>
                        </div>
                    </p>
                </div>
            </div>
    </div>

</div>

