<%- include('partials/header') -%>
  <div id="offres-de-mission" class="rf-container rf-mt-4w">
    <%- include('partials/breadcrumbs', { items: [ { label: 'Accueil' , url: '/' }, { label: 'Toutes les missions' }, ],
      } ) -%>
      <div class="rf-px-2w rf-px-md-6w">
        <h3>Les offres de la CPAM</h3>
        <div class="rf-grid-row rf-grid-row--gutters">
          <div class="rf-container">
            <div class="rf-grid-row">

              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">1 mois renouvelable</p>
                    <p class="rf-card__detail">dans la caisse primaire d'assurance maladie de votre département</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/conseiller-contact-tracing" class="rf-card__link">Conseiller Contact
                        Tracing</a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la stratégie Tester, Alerter, Protéger, l’Assurance
                      maladie est en charge, depuis le 11 mai dernier, du dispositif de contact tracing qui doit
                      permettre de contacter rapidement les patients diagnostiqués positifs au COVID, de mettre en place
                      ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-cpam-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <h3>Les offres de la CNAV</h3>
        <div class="rf-grid-row rf-grid-row--gutters">
          <div class="rf-container">
            <div class="rf-grid-row">

              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">1 mois renouvelable</p>
                    <p class="rf-card__detail">Télétravail</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/conseiller-maintien-lien-social" class="rf-card__link">Conseiller maintien du
                        lien social</a>
                    </h4>
                    <p class="rf-card__desc">Face à l’épidémie de COVID-19, les pouvoirs publics redoublent d’attention
                      vers les personnes âgées, d’autant plus fragiles, puisque leurs accompagnements et liens sociaux
                      habituels sont durablement fragilisés. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-cnav-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <h3>Les offres de mission pour la santé</h3>

        <div class="rf-grid-row rf-grid-row--gutters">
          <div class="rf-container">
            <div class="rf-grid-row">
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-de-crise-cadre-specialise-en-marches-publics"
                        class="rf-card__link">Cadre
                        spécialisé en marchés publics</a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-de-crise-communicants" class="rf-card__link">Communicants (profil
                        attachée de presse)</a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo Assurance Maladie">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-de-crise-secretariat" class="rf-card__link">Secretariat</a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>

            </div>
            <div class="rf-grid-row">
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-de-crise-logisticiens" class="rf-card__link">Logisticiens,
                        Approvisionnements et gestion de stocks -
                        Transports et transits</a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card  rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-gestionnaire-rh" class="rf-card__link">Gestionnaire de ressources
                        humaines</a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à 14, avenue Duquesne, Paris 7ème</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/cellule-gestionnaire-logistique" class="rf-card__link">Gestionnaire logistique
                      </a>
                    </h4>
                    <p class="rf-card__desc">Le ministère de la santé et des solidarités est en première dans le
                      pilotage
                      et
                      la gestion d'une crise sanitaire sans précédent liée à la Covid 19. Le ministère a mis en place
                      une
                      direction ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-sante-card.png" title="Logo CNAV">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3>Les offres de mission pour l'ARS Grand Est</h3>
        <div class="rf-grid-row rf-grid-row--gutters">
          <div class="rf-container">
            <div class="rf-grid-row">
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à DT 88 4 avenue du Rose Poirier à EPINAL (88)</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/gestionnaire-renfort-covid" class="rf-card__link">Gestionnaire dépistage et
                        vaccination - Renfort COVID
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la lutte contre la pandémie, l'ARS GRAND Est a besoin de
                      renforcer les délégations territoriales ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arsge-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à Siège Nancy 3 bd Joffre . Siège Strasbourg 14 Rue du maréchal
                      Juin</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/gestionnaire-boite-mail-covid" class="rf-card__link">Gestionnaire de Boite mail
                        générique dans le cadre de la lutte COVID
                      </a>
                    </h4>
                    <p class="rf-card__desc">L'ARS GRAND EST a mis en place une organisation de gestion des signaux qui
                      doivent être analysés et traités (Contact Tracing) ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arsge-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à Siège Nancy 3 bd Joffre, DT 54, 6 rue Notre Dame à Nancy (54)
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/gestionnaire-renfort-covid-investigateur" class="rf-card__link">Renfort COVID –
                        Contact
                        tracing – Investigateur
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la lutte contre la pandémie, il appartient aux ARS de
                      gérer
                      le Contact tracing de niveau 3 (cluster) ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arsge-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
            </div>
            <div class='rf-grid-row'>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à DT 51, 6 rue Dom Pérignon, Chalons (51)
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/gestionnaire-renfort-covid-depistage" class="rf-card__link">Renfort
                        COVID-Contact tracing
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans la cadre de la lutte contre la pandémie, l'ARS GRAND Est a besoin de
                      renforcer les délégations territoriales qui sont en première ligne pour organiser les campagnes de
                      dépistage et de vaccination. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arsge-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 à 6 mois</p>
                    <p class="rf-card__detail">Sur site à DT 52, 82 rue du Commandant Hugueny, Chaumont
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/coordinateur-de-poles" class="rf-card__link">Coordonnateur de
                        pôles
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans la cadre de la lutte contre la pandémie, l'ARS GRAND Est a besoin de
                      renforcer les délégations territoriales qui sont en première ligne ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>
                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arsge-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>Les offres de mission pour l'ARS Haut de France</h3>
        <div class="rf-grid-row rf-grid-row--gutters">
          <div class="rf-container">
            <div class="rf-grid-row">
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 mois renouvelable</p>
                    <p class="rf-card__detail">Sur site à Laon</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/charge-mission-gestion-crise-covid" class="rf-card__link">Chargé(e) de mission
                        Gestion de la crise COVID
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la gestion de la crise sanitaire liée au Covid-19, l’ARS
                      des Hauts-de-France est plus que jamais mobilisée dans la stratégie « Tracer, Alerter, Protéger »
                      ainsi que dans la gestion de la campagne vaccinale. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arshdf-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 mois renouvelable</p>
                    <p class="rf-card__detail">Sur site à Beauvais
                      Juin</p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/charge-mission-gestion-crise-covid-1" class="rf-card__link">Chargé(e) de
                        mission Gestion de la crise COVID
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la gestion de la crise sanitaire liée au Covid-19, l’ARS
                      des Hauts-de-France est plus que jamais mobilisée dans la stratégie « Tracer, Alerter, Protéger »
                      ainsi que dans la gestion de la campagne vaccinale. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arshdf-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 mois renouvelable</p>
                    <p class="rf-card__detail">Sur site à Arras
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/charge-mission-gestion-crise-covid-2" class="rf-card__link">Chargé(e) de
                        mission Gestion de la crise COVID
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la gestion de la crise sanitaire liée au Covid-19, l’ARS
                      des Hauts-de-France est plus que jamais mobilisée dans la stratégie « Tracer, Alerter, Protéger »
                      ainsi que dans la gestion de la campagne vaccinale. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arshdf-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
            </div>
            <div class='rf-grid-row'>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 mois renouvelable</p>
                    <p class="rf-card__detail">Sur site à Lille
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/charge-mission-analyste-suivi-donnees" class="rf-card__link">CHARGE DE MISSION
                        ANALYSTE ET SUIVI DE DONNEES GESTION DE LA CRISE COVID (H/F)
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la gestion de la crise sanitaire liée au Covid-19, l’ARS
                      des Hauts-de-France est plus que jamais mobilisée dans la stratégie « Tracer, Alerter, Protéger »
                      ainsi que dans la gestion de la campagne vaccinale. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>

                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arshdf-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
              <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-card rf-enlarge-link rf-card--no-arrow shadow-lg rounded-lg zoomable">

                  <div class="rf-card__body missions">
                    <p class="rf-card__detail">3 mois renouvelable</p>
                    <p class="rf-card__detail">Sur site à Lille
                    </p>
                    <h4 class="rf-card__lead">
                      <a href="/missions/charge-mission-analyste-suivi-donnees-1" class="rf-card__link">CHARGE DE
                        MISSION ANALYSTE ET
                        SUIVI DE DONNEES GESTION DE LA CRISE COVID (H/F)
                      </a>
                    </h4>
                    <p class="rf-card__desc">Dans le cadre de la gestion de la crise sanitaire liée au Covid-19, l’ARS
                      des Hauts-de-France est plus que jamais mobilisée dans la stratégie « Tracer, Alerter, Protéger »
                      ainsi que dans la gestion de la campagne vaccinale. ...</p>
                    <div class="text-blue-france" style="display: flex; justify-content: end; align-items: center;">En
                      savoir plus

                      <svg style="display: inline-block; width: 25px; margin-left: 10px"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg>
                    </div>
                  </div>
                  <div class="rf-card__img missions ">
                    <img src="/static/images/organisations/logo-arshdf-card.png" title="Logo ARS">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  <%- include('partials/footer') -%>