<%- include('partials/header') -%>
  <div id="offres-de-mission" class="rf-container rf-mt-4w">
    <%- include('partials/breadcrumbs', { items: [ { label: 'Accueil' , url: '/' }, { label: 'Toutes les missions' }, ],
      } ) -%>
      <div class="rf-px-2w rf-px-md-6w">
        <% for (let i=0; i < categories.length; i++) { %>
          <h3>
            <%=categories[i]%>
          </h3>
          <% } %>

      </div>
  </div>
  <%- include('partials/footer') -%>