<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
    <h2>Foire Aux Questions (FAQ)</h2>
    <div id="breadcrumbs">
        <a href="/" title="Retour à l'accueil">Accueil</a> > Foire Aux Questions
    </div>
    <div>
        <h3>1. Je suis volontaire pour une mission ? Comment cela se passe-t-il ?</h3>
        <p>
            Je prends connaissance des fiches de postes correspondantes aux deux missions proposées sur la
            plateforme : <a
                href='https://volontaires.fonction-publique.gouv.fr/'>https://volontaires.fonction-publique.gouv.fr/</a>
        <ul>
            <li>La fiche de poste « conseiller contact tracing » : « cette mission <b>s’exerce en présentiel</b>
                dans les locaux de la CPAM la plus proche de votre domicile pour tracer les cas contacts COVID-19,
                avec remise aux volontaires du matériel informatique et téléphonique.
            </li>
            <li>
                La fiche de poste « conseiller maintien lien social » : cette mission mise en place par la CNAV
                <b>s’exerce à votre domicile</b>, pour maintenir le contact avec des personnes âgées préalablement
                identifiées, ce qui suppose que vous disposiez d’une ligne internet et d’un téléphone avec forfait
                illimités pour les appeler.
            </li>
        </ul>
        </p>
    </div>
    <div>
        <h3>2. Que dois-je savoir avant de candidater ?</h3>
        <p>
        <ul>
            <li>
                <b>Je vérifie que je remplis les conditions requises :</b><br />
                <i>Je dois être agent de l’Etat, fonctionnaire titulaire ou agent contractuel en CDI en position
                    d’activité et pouvant être mis à disposition par mon administration <b>sous la forme d’une
                        convention signée par les deux employeurs.</b></i><br /><br />
                Si je suis fonctionnaire stagiaire, (ex : école IRA), fonctionnaire de la fonction publique
                territoriale ou hospitalière, fonctionnaire titulaire Etat en CET, retraité, en disponibilité, en
                congé parental, en détachement, je ne suis pas éligible à ce dispositif mais <b>je peux quand même
                    me rendre utile</b> en postulant comme bénévole sur l’une des missions proposées dans le cadre
                de la réserve civique sur la plateforme : <br />
                <a href="https://www.jeveuxaider.gouv.fr/" target="_new">https://www.jeveuxaider.gouv.fr/</a>
            </li>
        </ul>
        </p>
    </div>
    <div>
        <h3>
            3. J’alerte immédiatement mon supérieur hiérarchique qui doit me donner son accord, sans quoi la mission ne
            peut être faite
        </h3>
        <p>Pour se faire, je lui remets la plaquette disponible sur le site.</p>
    </div>
    <div>
        <h3>4. Comment s’organise concrètement la mission ?</h3>
        <p>
            Je dois pouvoir me rendre disponible au minimum deux jours par semaine
            <u>sur mon temps de travail habituel</u>, de préférence sur des jours fixes sauf exception, pendant au
            minimum
            un mois
            La mission est renouvelable.

        </p>
    </div>
    <div>
        <h3>5. Quels seront mes horaires et mon régime de travail ?</h3>
        <p>Je conserve mes horaires habituels et mon régime de travail à temps plein ou temps partiel.</p>
    </div>

    <div>
        <h3>6. Comment vais-je être rémunéré ?</h3>
        <p>
            Ma rémunération est inchangée.<br /><br />
            Le travail du samedi et du dimanche ne doit en principe pas intervenir pour des agents exerçant
            habituellement sur cinq jours, du lundi au vendredi. Toutefois et en cas d’exercice sur l’un ou l’autre de
            ces deux jours, aucune rémunération notamment en heures supplémentaires ne sera versée. La journée de repos
            accordé à ce titre interviendra dans ce cas sur le temps de travail à réaliser dans mon administration
            d’origine.<br /><br />
            Si je dois engager des frais supplémentaires au titre de la mission (temps de trajet plus long pour
            rejoindre la CPAM de mon département), je ne serai pas remboursé par mon employeur.

        </p>
    </div>
    <div>
        <h3>7. Ya-t-il des contraintes spécifiques ?</h3>
        <p>
            <U>Pour La CNAV</U>, la mission étant exercée à domicile entraine l’utilisation de votre matériel
            téléphonique et informatique avec obligatoirement forfaits illimités.<br /><br />

            <u>Pour la CPAM</u> : la mission est exercée au niveau des CPAM des départements identifiés selon les
            horaires définis par leur soins et dans leurs locaux et dans le cadre de la plage horaire à couvrir,
            8h30-18H30 sur la semaine avec weekend inclus.<br /><br />
            La formation de deux jours et la fourniture du matériel informatique et téléphonique est assurée par leurs
            soins.

        </p>
    </div>
    <div>
        <h3>8. Puis je mettre fin à la mission ?</h3>
        <p>
            Je dois m’engager à respecter les conditions de la mise à disposition et je ne suis susceptible d’y mettre
            fin que pour circonstances individuelles exceptionnelles, mais pas pour des raisons de service.
        </p>
    </div>
    <div>
        <h3>9. Que doit savoir mon responsable avant de prendre une décision ?</h3>
        <p>
            <b>Il doit avoir connaissance des informations suivantes :</b>
            <br />
        <ul>
            <li>- Les deux missions supposent un engagement de deux jours au minimum par semaine pendant un mois et
                peuvent être renouvelées ;</li>
            <li>- Ces jours sont le plus souvent fixes, sauf cas particulier ;</li>
            <li>- Ces conditions d’exercice de la mission sont définies par convention de mise à disposition signée
                entre votre service et la CNAV ou CPAM, ce qui me garantit :
                <ul>
                    <li>Le maintien de la rémunération versée sur mon poste actuel, mais les frais supplémentaires
                        engagés au titre de la mission ne seront pas remboursés</li>
                    <li>Le maintien de mon régime de travail (horaires, temps et quotité de travail) :
                        Pour la CPAM : la plage horaire à couvrir est 8h30-18H30 sur la semaine avec weekend inclus.
                        Seuls les agents exerçant habituellement pendant le weekend auront vocation à le faire, avec les
                        modalités de récupération applicables dans leur service d’origine. Les autres agents souhaitant
                        le faire n’auront pas de rémunération complémentaire mais bénéficieront des deux jours de repos
                        prévus.
                    </li>
                    <li>La conservation de la couverture sociale de l’employeur (maladie et accidents)</li>
                    <li>La vérification de l’équipement que je dois fournir pour la Mission CNAV à mon domicile ou celui
                        fourni par la CPAM (mission CPAM)</li>
                    <li>La formation est prise en charge par l’organisme d’accueil</li>
                    <li>L’engagement pour la mission est subordonné au respect des conditions d’exercice de la mission
                        et sa durée sauf circonstances personnelles très exceptionnelles et non liées à des nécessités
                        de service.</li>

                </ul>

                Si mon employeur a besoin de compléments d’information, il s’adresse à la personne référente RH de son
                service.


            </li>
        </ul>
        </p>
    </div>
    <div>
        <h3>10. Si mon responsable hiérarchique donne son accord, que se passe-t-il ?</h3>
        <p>
            Une fois l’accord hiérarchique acquis, je remplis le formulaire de candidature sur le site <a
                href="https://volontaires.fonction-publique.gouv.fr"
                target="_new">https://volontaires.fonction-publique.gouv.fr</a><br /><br />
            Votre candidature sera transmise pour validation à la CNAV ou la CNAM.<br /><br />
            Une fois validée, l’organisme prendra contact avec la personne référente indiquée sur le formulaire pour le
            suivi du dossier, en principe le service Ressources Humaines : <b>coordonnées à faire figurer
                obligatoirement sur le formulaire de candidature.</b><br /><br />
            Suite aux échanges entre les services, la convention est négociée puis signée par vous-même et par les deux
            employeurs.<br /><br />
            Cette phase terminée, une copie vous est remise et la mission peut démarrer à la date indiquée sur la
            convention.

        </p>
    </div>
    <div>
        <div>
            <h3>11. Ma rémunération restera-t-elle inchangée ?</h3>
            <p>
                <b>Oui</b>. <br />Pour ce volontariat, nous faisons juridiquement une
                mise à disposition : l'organisme dans lequel vous travaillez vous met à
                disposition de l'organisme pour lequel vous vous portez volontaire,
                temporairement. Pour simplifier le dispositif, votre rémunération reste
                celle de votre poste d'origine.
            </p>
        </div>

        <div>
            <h3>
                12. Serais-je remboursé d’éventuels frais en cas de transports accrus ou de
                dépassement de forfait internet ou téléphone ?
            </h3>
            <p>
                <b>Non</b>.<br />Le dispositif est simplifié pour pouvoir être mis en
                place plus rapidement, donc nous ne pouvons malheureusement pas fournir
                ces remboursements. Nous vous invitons à en parler lors de votre
                candidature si vous pensez que ce sera un problème pour vous.
            </p>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>