<%- include('partials/header') -%>


<div class="rf-container rf-mb-5w">
    <h2>
        F.A.Q
    </h2>
    <div id="breadcrumbs">
        <a href="/" title="Retour à l'accueil">Accueil</a> > F.A.Q
    </div>
    <div>
        <div>
            <h3>Lorem Ipsum?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed enim tortor. Sed at orci in ex
                convallis aliquet ac eu nibh. Aliquam vulputate ultrices odio nec cursus. Ut ornare orci eget arcu
                consectetur commodo. Duis eu elementum enim, nec dignissim mi. Vivamus turpis purus, vehicula vitae
                lacinia sit amet, commodo in ante. Aliquam erat volutpat. Quisque eget ultrices urna. Vivamus
                consectetur eleifend velit.
            </p>
        </div>
        <div>
            <h3>Lorem Ipsum?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed enim tortor. Sed at orci in ex
                convallis aliquet ac eu nibh. Aliquam vulputate ultrices odio nec cursus. Ut ornare orci eget arcu
                consectetur commodo. Duis eu elementum enim, nec dignissim mi. Vivamus turpis purus, vehicula vitae
                lacinia sit amet, commodo in ante. Aliquam erat volutpat. Quisque eget ultrices urna. Vivamus
                consectetur eleifend velit.
            </p>
        </div>
        <div>
            <h3>Lorem Ipsum?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed enim tortor. Sed at orci in ex
                convallis aliquet ac eu nibh. Aliquam vulputate ultrices odio nec cursus. Ut ornare orci eget arcu
                consectetur commodo. Duis eu elementum enim, nec dignissim mi. Vivamus turpis purus, vehicula vitae
                lacinia sit amet, commodo in ante. Aliquam erat volutpat. Quisque eget ultrices urna. Vivamus
                consectetur eleifend velit.
            </p>
        </div>
    </div>
</div>