<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
  <h2>Foire Aux Questions (FAQ)</h2>
  <div id="breadcrumbs">
    <a href="/" title="Retour à l'accueil">Accueil</a> > Foire Aux Questions
  </div>
  <div>
    <div>
      <h3 id="accord-de-ma-hiérarchie">
        Comment obtenir l'accord de mon supérieur hiérarchique ?
      </h3>
      <p>
        Votre supérieur hiérarchique doit assurer la continuité de son service,
        qui pourrait être perturbée par votre absence lorsque vous être sur la
        mission Volontaires. C'est pourquoi nous avons besoin de son accord pour
        valider la mise à disposition.
      </p>
      <p>
        Pour lui présenter la démarche, vous pouvez lui envoyer (ou lui
        imprimer) cette plaquette de présentation :
      </p>
      <a
        class="rf-btn"
        href="/documents/plaquette_pour_superieur.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        Voir la plaquette de présentation
      </a>
      <p>
        Pour le dossier de candidature, nous vous demanderons une lettre
        d'accord remplie par votre supérieur hiérarchique. Nous vous proposons
        un modèle de lettre à faire remplir :
      </p>
      <a
        class="rf-btn"
        href="/documents/accord_hierarchique.docx"
        target="_blank"
        rel="noopener noreferrer"
      >
        Voir le modèle de lettre d'accord
      </a>
    </div>
    <div>
      <h3>Ma rémunération restera-t-elle inchangée ?</h3>
      <p>
        <b>Oui</b>. <br />Pour ce volontariat, nous faisons juridiquement une
        mise à disposition : l'organisme dans lequel vous travaillez vous met à
        disposition de l'organisme pour lequel vous vous portez volontaire,
        temporairement. Pour simplifier le dispositif, votre rémunération reste
        celle de votre poste d'origine.
      </p>
    </div>

    <div>
      <h3>
        Serais-je remboursé d’éventuels frais en cas de transports accrus ou de
        dépassement de forfait internet ou téléphone ?
      </h3>
      <p>
        <b>Non</b>.<br />Le dispositif est simplifié pour pouvoir être mis en
        place plus rapidement, donc nous ne pouvons malheureusement pas fournir
        ces remboursements. Nous vous invitons à en parler lors de votre
        candidature si vous pensez que ce sera un problème pour vous.
      </p>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
