<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
    <h2>Foire Aux Questions (FAQ)</h2>
    <div id="breadcrumbs">
        <a href="/" title="Retour à l'accueil">Accueil</a> > Foire Aux Questions
    </div>
    <div>
        <div>
            <h3>Ma rémunération restera-t-elle inchangée ?</h3>
            <p>
                <b>Oui</b>. <br />Pour ce volontariat, nous faisons juridiquement une
                mise à disposition : l'organisme dans lequel vous travaillez vous met à
                disposition de l'organisme pour lequel vous vous portez volontaire,
                temporairement. Votre rémunération reste celle de votre poste d'origine.
            </p>
        </div>
        <div>
            <h3>Quels seront les horaires pratiqués ?</h3>
            <p>
                On ne sait pas encore.
            </p>
        </div>
        <div>
            <h3>Puis-je choisir mes jours de travail en cas de mission à temps partiel ?</h3>
            <p>
                On ne sait pas encore (en cours de discussion avec les partenaires).
            </p>
        </div>
        <div>
            <h3>Serais-je remboursé d’éventuels frais en cas de dépassement de forfait ?</h3>
            <p>
                <b>Non</b>.
            </p>
        </div>
    </div>
</div>