<%- include('partials/header') -%>
<div>
  <img src="/static/images/organisations/logo-cpam-fullscreen.png" title="Logo Assurance Maladie">
</div>
<div>
  Retour à l'accueil
</div>
<div>
  Titre
</div>
<div>
  Postuler
</div>
<%- include('partials/footer') -%>
