.rf-centered {
  text-align: center;
}

.rf-bg--alt,
.rf-bg--alt h3 {
  background-color: var(--bf500);
  color: var(--g100);
}

.bg-fond-alternatif {
  background-color: var(--g100);
}

.bg-blue-france {
  background-color: var(--bf500);
}

.bg-blue-soft {
  background-color: var(--bs300);
}

.text-orange-soft {
  color: var(--os500);
}

.text-white {
  color: var(--w);
}

.text-blue-france {
  color: var(--bf500);
}

.text-blue-soft {
  color: var(--bs500);
}

.text-green-soft {
  color: var(--gm500);
}
