body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: var(--error);
  top: 7px;
  right: -20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 27px;
  transform: rotate(45deg);
}

.rf-centered {
  text-align: center;
}

.rf-bg--alt,
.rf-bg--alt h3 {
  background-color: var(--bf500);
  color: var(--g100);
}

/* Couleurs */

.bg-fond-alternatif {
  background-color: var(--g100);
}

.bg-blue-france {
  background-color: var(--bf500);
}

.bg-blue-soft {
  background-color: var(--bs300);
}

/*
Secondary buttons are broken in version 0.3.1.
This is a fix until we deal with the update (the update breaks other things)
*/
.btn--secondary--temporary-fix {
  border: 1px var(--bf500) solid;
}

.text-orange-soft {
  color: var(--os500);
}

.text-white {
  color: var(--w);
}

.text-blue-france {
  color: var(--bf500);
}

.text-blue-soft {
  color: var(--bs500);
}

.text-green-soft {
  color: var(--gm500);
}

/* else */

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    5px 4px 6px -2px rgba(0, 0, 0, 0.05), -5px -4px 6px -2px rgba(0, 0, 0, 0.05);
}

.rounded-lg {
  border-radius: 0.5rem;
}

/* Hack css : the padding is proportional to element width and so responsive */
.rf-card__img.missions::before {
  padding-bottom: 44%;
}

.zoomable {
  transition: transform 0.2s ease-in-out;
}

.zoomable:hover {
  transform: scale(1.05);
}

/* The card image respects the rounded corners */
.rf-card.rounded-lg {
  overflow: hidden;
}

.screening-section {
  margin-top: 3rem;
}
.screening-section:first-of-type {
  margin-top: 0rem;
}

.d-none {
  display: none;
}

.mission-summary__block {
  padding-bottom: 2.5rem;
}
.mission-summary__block:last-of-type {
  padding-bottom: 0rem;
}

@media (min-width: 48em) {
  .mission-summary__block {
    padding-right: 2em;
    padding-bottom: 0rem;
  }
  .mission-summary__block:last-of-type {
    padding-right: 0em;
  }
}

.mission-summary__block__title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.mission-summary__block__content {
  font-weight: bold;
}

.faq-question {
  margin-bottom: 3rem; /* 6w dans le design system */
}

.faq-subtitle {
  color: #489e61;
}
